---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION , cardplatforms} from '../consts';

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="mt-12 flex items-center justify-between w-full max-sm:flex-col-reverse">
				<div class="grid *:max-sm:text-center">
					<div class="whitespace-nowrap max-sm:text-[16px] px-3 py-2 rounded-full border border-lime-400 w-max max-sm:mx-auto block align-baseline leading-none">Hi Grandkids, I'm your Grandpa!</div>
					<h1 class="text-[3.1rem] font-bold  max-sm:text-3xl leading-none pt-[2rem] pb-[1rem]">I'll teach you digital marketing best practices that are easy to implement in your work, <span class="text-lime-400">because Grandpa Knows Best!</span></h1>
					<h3 class="text-2xl text-zinc-400 leading-none">If you want to learn digital marketing the right way, <span class="text-lime-400 underline">obey your grandpa</span>. I've been in the game for years and know what I'm talking about.</h3>
				</div>
				<img class="max-w-[500px] max-sm:w-full" src="/avatar.webp" alt="avatar">
			</div>
			<div class="pt-[9rem] ">
				<h1 class="max-sm:text-3xl text-4xl pb-[2rem]">Choose the platform you want to learn about</h1>
				<div class="grid grid-cols-3 gap-3 max-sm:grid-cols-1">
					{cardplatforms.map((list) =>(
						<a href={list.path} class="flex flex-col items-center justify-center relative p-5 rounded-lg border border-zinc-700 hover:border-lime-400 hover:transition-all ease-linear duration-500">
							<div class="right-5 p-2 rounded-md bg-lime-950 w-max">
								<img class="w-[45px] h-[45px] fill-lime-500" src={list.iconSVG} alt="icons"/>
							</div>
							<div class="mt-[1rem]">
								<h1 class="text-2xl text-lime-400 text-center leading-none m-0">{list.title}</h1>
							</div>
						</a>
					))}
				</div>
			</div>
			<!-- END -->
			<div>
				<h1 class="max-sm:text-3xl text-4xl pb-[2rem]">Read My Blogs</h1>
			</div>
		</main>
		<Footer />
	</body>
</html>
