---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION , cardplatforms} from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
		<Header title={SITE_TITLE} />
		<main>
			<div class="flex items-center justify-between w-full max-sm:flex-col-reverse">
				<div class="flex flex-col gap-5">
					<span class="text-2xl">Hi, I'm your Grandpa!</span>
					<h1 class="text-6xl font-bold  max-sm:text-4xl">Digital Marketing Tips from a Wise Old Man, <span class="text-lime-400">Because Grandpa Knows Best!</span></h1>
					<h3 class="text-2xl leading-none">If you want to learn digital marketing the right way, <span class="text-lime-400 underline">obey your grandpa</span>. He's been in the game for years and knows what he's talking about.</h3>
				</div>
				<img class="max-w-[600px] max-sm:w-full" src="/avatar.webp" alt="avatar">
			</div>
			<div class="pt-[9rem] ">
				<h1 class="max-sm:text-3xl text-4xl pb-[2rem]">Choose the platform you want to learn about</h1>
				<div class="grid grid-cols-3 gap-3 max-sm:grid-cols-1">
					{cardplatforms.map((list) =>(
						<div class="p-5 border border-onyx-100 rounded-lg hover:border-lime-400 transition-all ease-linear duration-500 flex flex-col justify-center">
							<span>{list.iconSVG}</span>
							<h1 class="text-4xl">{list.title}</h1>
							<h3 class="text-[1rem] max-sm:text-[14px] text-zinc-400 font-normal py-4">{list.description}</h3>
							<a class="flex items-center justify-center py-2 leading-none rounded-lg bg-lime-600 hover:bg-lime-400 transition-colors ease-linear duration-500" href={list.path}>Get Started</a>
						</div>
					))}
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
