---
import type { CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import 'astro-breadcrumbs/breadcrumbs.css';
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage, frontmatter, headings} =
	Astro.props 
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article class="mt-12">
				
				<div class="relative flex items-center justify-center flex-wrap bg-teal-800 h-[400px] rounded-lg p-5">
					<div>
						<Breadcrumbs>
							<svg
								slot="separator"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								><polyline points="9 18 15 12 9 6"></polyline>
							  </svg>
						</Breadcrumbs>
					</div>
					<!-- {
						heroImage && (
							<img
							class="rounded-lg mx-mauto w-full h-[400px]"
								width={1020}
								height={510}
								src={heroImage.src}
								alt={heroImage.alt}
							/>
						)
					} -->
					<div class="">
						<h1 class=" text-5xl">{title}</h1>
						<div class="text-zinc-400">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
				</div>

				<div class="pt-12 list-disc flex max-sm:flex-col">
					<div class="min-w-[300px] border border-zinc-500 rounded-lg p-5 h-max flex flex-col">
						<div class="bg-zinc-800 rounded-lg w-full flex justify-center items-center p-3 m-0 leading-none">
							<span class="uppercase text-base max-sm:text-sm">In this article</span>
						</div>
						<div>
							<TableOfContents headings={headings} />
						</div>
					</div>
					<div class="ml-5 max-sm:ml-0 max-sm:mt-5 prose">
						<slot />
					</div>
					<div class="min-w-[300px]">
						<h5>Tag</h5>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
