---
import type { CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { ViewTransitions } from "astro:transitions";
type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage, frontmatter, headings} =
	Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<ViewTransitions />
		<style>
			ul{
				list-style-type: armenian;
			}
		</style>
		
	</head>

	<body>
		<Header />
		<main>
			<article class="mt-12">
				<div class="relative flex items-center justify-center flex-wrap bg-teal-800 h-[400px] rounded-lg p-5">
					<!-- {
						heroImage && (
							<img
							class="rounded-lg mx-mauto w-full h-[400px]"
								width={1020}
								height={510}
								src={heroImage.src}
								alt={heroImage.alt}
							/>
						)
					} -->
					<div class="block">
						<h1 class=" text-5xl">{title}</h1>
						<div class="text-zinc-400">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
				</div>

				<div class="">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
